<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="appliction.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <figure></figure>
    <menu>
      <a href="/wines">Wines</a>
      <a href="/meet_the_winemaker">Meet the winemaker</a>
      <a href="/philosophy">Philosophy</a>
      <a href="/castle">Castle</a>
      <a href="/history">History</a>
      <a href="/awards">Awards</a>
      <a href="/contact">Contact</a>
      <a href="/the_wine_club">Wine Club</a>

    </menu>
  </header>
  <main>
    <%- yield %>
  </main>
  <footer>
  </footer>
</body>
</html>
